# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_DIR=/app/wbs
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-me-now
DJANGO_SUPERUSER_EMAIL=admin@example.com

# Database
USE_POSTGRES=1
POSTGRES_DB=balance
POSTGRES_USER=balance
POSTGRES_PASSWORD=balance
POSTGRES_HOST=db
POSTGRES_PORT=5432
